<a href="https://colab.research.google.com/github/emarcus9/module15_Ella_Marcus/blob/main/Tuples_Downey_Rebuilt_STUDENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò Tuples ‚Äî Chapter (Downey‚ÄëAligned, No Dictionaries)

**Support Chapter + Exercises**  
_Based on Allan Downey‚Äôs Tuples chapter, rewritten to avoid dictionaries._

This notebook:
- Uses only concepts you have already learned
- Preserves the intent of Downey‚Äôs original exercises
- Contains **NO solutions** ‚Äî student work only

---

## 1Ô∏è‚É£ Tuples

A **tuple** is an ordered, immutable collection of values.

- **Ordered**: elements have positions
- **Immutable**: elements cannot be changed after creation

Examples:
- `(3, 7, 10)`
- `(1, "apple", 3.14)`

In [15]:
# Run this cell

t = (3, 7, 10)
t

(3, 7, 10)

## 2Ô∏è‚É£ Tuples vs Lists

| Feature | List | Tuple |
|-------|------|-------|
| Mutable | Yes | No |
| Syntax | `[ ]` | `( )` |
| Best for fixed data | No | Yes |

Once created, tuple values cannot be reassigned.

In [16]:
# Lists are mutable
lst = [1, 2, 3]
lst[0] = 99
lst

[99, 2, 3]

In [17]:
# Tuples are immutable
tup = (1, 2, 3)
tup[0] = 99  # Uncomment to observe the error
tup

TypeError: 'tuple' object does not support item assignment

## 3Ô∏è‚É£ Creating Tuples

### Multiple elements
`t = (4, 5, 6)`

### Single‚Äëelement tuples
A single‚Äëelement tuple **must** include a trailing comma.

In [18]:
single_ok = (5,)
single_not = (5)

(type(single_ok), type(single_not))

(tuple, int)

## 4Ô∏è‚É£ Indexing and Slicing

Tuples support indexing and slicing, just like strings and lists.

In [19]:
t = ('a', 'b', 'c', 'd')

# Try indexing and slicing
print(t[0])
print(t[-1])
print(t[1:3])

a
d
('b', 'c')

## 5Ô∏è‚É£ Looping Through Tuples

You can loop through tuples using a `for` loop.

In [20]:
values = (10, 20, 30)

# TODO: loop and print each value
for value in values:
    print(value)

10
20
30

## 6Ô∏è‚É£ Tuple Assignment (Unpacking)

Tuples allow multiple assignment in one statement.

In [21]:
# TODO: unpack the tuple into two variables
pair = (3, 7)

a, b = pair
print(a)
print(b)

3
7

## 7Ô∏è‚É£ Functions That Return Tuples

A function can return multiple values as a tuple.

In [24]:
# TODO: write a function that returns the minimum and maximum

def min_max(numbers):
    minimum, maximum = min(numbers), max(numbers)
    return minimum, maximum

# Test
data = [4, 2, 9]
result = min_max(data)
print(result)

(2, 9)

## 8Ô∏è‚É£ Tuples Inside Lists

Tuples can be stored inside lists to group related values.

In [25]:
points = [(1, 2), (3, 4), (5, 6)]

# TODO: loop through the list and print each x, y pair
for pair in points:
    print(pair)

(1, 2)
(3, 4)
(5, 6)

# üß™ Exercises (Downey‚ÄëInspired, List‚ÄëBased)

Complete all exercises below. Do **not** use dictionaries.

---

## Exercise 1 ‚Äî Most Frequent Characters

Write a function `most_frequent(s)` that:
- counts how many times each character appears
- stores results as a **list of (character, count) tuples**
- prints the characters in decreasing order of frequency
- use : sorted(nums, reverse=True)

In [ ]:
def most_frequent(s):
    # TODO: use a list of tuples (no dictionaries)


# Test string
# most_frequent('banana')

## Exercise 2 ‚Äî Word Frequencies

Given a list of words, count how often each word appears.
Return a list of `(word, count)` tuples sorted by count (descending).
- use : sorted(nums, reverse=True)

In [ ]:
def word_frequencies(words):
    # TODO
    pass

# words = ['the', 'cat', 'the', 'dog']
# print(word_frequencies(words))

## Exercise 3 ‚Äî Most Common Item

Write a function that takes a list of `(item, count)` tuples
and returns the tuple with the highest count.

In [28]:
def most_common(counts):
    # Use built in max function to find highest
    maximum = max(counts)
    return maximum

items = [(5, "apples"), (2, "pears"), (7, "plums")]
most_common(items)

(7, 'plums')

# ‚úÖ Honor Attestation

At the bottom of your notebook, write:

- I read and interacted with the chapter content.
- I completed the exercises independently.
- I did not use AI or unauthorized resources during the timed portion.

**Time spent:** _____ minutes